<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns:context="http://www.springframework.org/schema/context"
             xmlns:aop="http://www.springframework.org/schema/aop"
             xmlns:tx="http://www.springframework.org/schema/tx"
             xmlns:util="http://www.springframework.org/schema/util"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
                     http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                     http://www.springframework.org/schema/context
                     http://www.springframework.org/schema/context/spring-context-3.0.xsd
                     http://www.springframework.org/schema/aop
                     http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
                     http://www.springframework.org/schema/tx
                     http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
                     http://www.springframework.org/schema/util 
                     http://www.springframework.org/schema/util/spring-util-3.0.xsd"
                     default-init-method="init" default-destroy-method="destory">



		<bean class="com.springinaction.springidol.Sonnet29" name="sonnet" scope="singleton"/>
		<bean class="com.springinaction.springidol.Sonnet29" name="sonnet1" scope="singleton"/>
		<bean class="com.springinaction.springidol.Auditorium" name="auditorium" scope="prototype"/>
		<bean class="com.springinaction.springidol.Global" name="global" scope="prototype"/>
		<bean class="com.springinaction.springidol.Juggler" name="juggler" >
			<constructor-arg name="beanBags" value="15" />
			<constructor-arg name="beanR" value="wrt" />
		</bean>
		<bean class="com.springinaction.springidol.PoeticJuggler" name="poeticJ" >
			<constructor-arg name="beanBags" value="15" />
			<constructor-arg name="poem" ref="sonnet" />
		</bean>
		
		<bean name="stage" class="com.springinaction.springidol.Stage" factory-method="getInstance" />
</beans>